# Flask - Web Framework
Flask==0.11.1

# pymongo - MongoDB Driver for python
pymongo==3.3.0

# jinja2 - Template tools
Jinja2==2.8

# inflect - Generate plurals
inflect==0.2.5

# pycrypto - Encrypt and decrypt
PyCrypto==2.6.1

# schedule - Job schedule
apscheduler==3.2.0

# dateutil
python-dateutil==2.5.3

# JSON Web Token
PyJWT==1.4.2

# uWSGI=2.0.13.1

# gevent - Standalone WSGI Containers
gevent==1.2.1
gevent-websocket==0.10.1

# engineio - WebSocket support
python-engineio==1.3.1
